# LLM configuration

# public model is used for insensitive information only

# ScaDS.AI LLMs
API_BASE_PUBLIC="https://llm.scads.ai/v1/"
API_KEY_PUBLIC=${SCADSAI_API_KEY}
MODEL_PUBLIC="openai/gpt-oss-120b"
# MODEL_PUBLIC="deepseek-ai/DeepSeek-V3.2-Exp"
# MODEL_PUBLIC="meta-llama/Llama-4-Scout-17B-16E-Instruct"

# KISSKI / Academic Cloud
# API_BASE_PUBLIC="https://chat-ai.academiccloud.de/v1"
# API_KEY_PUBLIC=${KISSKI_API_KEY}
# MODEL_PUBLIC="qwen3-30b-a3b-thinking-2507"
# MODEL_PUBLIC="medgemma-27b-it"

# Kiara
# API_BASE_PUBLIC="https://kiara.sc.uni-leipzig.de/api/"
# API_KEY_PUBLIC=${KIARA_API_KEY}
# MODEL_PUBLIC="vllm-deepseek-r1-distill-llama-70b"

# Blablador
# API_BASE_PUBLIC="https://api.helmholtz-blablador.fz-juelich.de/v1/"
# API_KEY_PUBLIC=${BLABLADOR_API_KEY}
# MODEL_PUBLIC="1 - MiniMax-M2 - our best model as of December 2025"
# MODEL_PUBLIC="2 - Qwen3 235, a great model from Alibaba with a long context size"
# MODEL_PUBLIC="Qwen3-VL-32B-Instruct-FP8"
# MODEL_PUBLIC="Qwen3-Next"
# MODEL_PUBLIC="0 - Ministral-3-14B-Instruct-2512 - The latest Ministral from Dec.2.2025"

# OpenAI
# API_BASE_PUBLIC="https://api.openai.com/v1/"
# API_KEY_PUBLIC=${OPENAI_API_KEY}
# MODEL_PUBLIC="gpt-5-mini"
# MODEL_PUBLIC="gpt-4.1"
# MODEL_PUBLIC="gpt-5.2"

# FHIR
# MEDPLUM_BASE_URL:"http://localhost:8103/fhir/R4"
# MEDPLUM_CLIENT_ID: "client-id"
# MEDPLUM_CLIENT_SECRET: "client-secret"
# MEDPLUM_TOKEN_URL: "http://localhost:8103/oauth2/token"

# OpenSearch settings are optional.
# If you use the included docker-compose, you do not need to set or change them.
OPENSEARCH_HOST="localhost"
OPENSEARCH_PORT="9200"
